<% layout("/layouts/boilerplate")%> 

<!-- //filter  -->
<div class="filter">
<% for(filter of categories) { %>
    <a href="/listings?category=<%=filter.name%>">
    <div class="filteritems">
        <div> <%= filter.icon %></div>
        <p><%= filter.name %></p>
    </div>
</a>
<% } %>
</div>
<!-- price filter Switch -->
    <div class="priceSwitch form-check form-check-reverse offset-10">
        <label class="form-check-label" for="price">Price After Taxes</label>
  <input class="form-check-input" type="checkbox" role="switch" id="taxPrice">
  
</div>
<br>

  <% if(allListings.length === 0 || !allListings){ %>
                <h5 class="notFoundList">Listings Not Found</h5>
           <% } %>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
         <%for(let listing of allListings){%>

        <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="listing-card col">
  <img src="<%=listing.image.url%>" class="card-img-top" alt="listing image" style="height:20rem">
  <div class="card-body">
    <p class="card-text">
       <B><%=listing.title%></B>
       <br>
        <span class="price"> ₹ <%=listing.price.toLocaleString("en-IN")%></span>/night
        
    </p>
  </div>
</div>
        </a>

<%}%>
    </div>

    <script>

        let priceCheckBox = document.querySelector("#taxPrice");

        let priceObj = document.querySelectorAll(".price");
        for(let price of priceObj){
            let oldPrice = Number(price.innerText.replace(/[^0-9]/g,""));

        priceCheckBox.addEventListener("click",()=>{
            console.log("checkbox clicked");

            if(oldPrice === Number(price.innerText.replace(/[^0-9]/g,""))){
                let taxed = oldPrice * .18 ;
                let newPrice = oldPrice + taxed;
            price.innerHTML = "₹ &nbsp"+ newPrice.toLocaleString("en-IN");
            
        }else{
                price.innerHTML = "₹ &nbsp"+ oldPrice.toLocaleString("en-IN");
            
            }
        
    
        })
    }

    </script>
 




